
*~
*.swp
*.tmp
.DS_Store
Thumbs.db

/bin/
/build/
/lib/
/out/
debug/
release/

CMakeFiles/
CMakeCache.txt
CMakeScripts/
Makefile
cmake-build-debug/
CMakeLists.txt.user


.vscode/
.idea/
.project
.cproject

/vendor/

secrets.conf

*.log
